extends ../layout

block content
  h1 New Organization
  form.organization.new(method="POST" action="/admin/organizations") 
    .row
      input.name(type="text" name="name" autocomplete="false" placeholder="Name")
    .row
      input.location(type="text" name="location" autocomplete="false" placeholder="Location")
    .row
      input.url(type="url" name='url' autocomplete="false" placeholder="URL")