extends layout

block content
  h1 YIMBY Directory
  ul
    each item in items
      .organization
        h2.name= item.name 
        h3.location= item.location
        a(href=item.twitter) Twitter
        a(href=item.url) url
